@{
    ViewBag.Title = "Weather Forcast Details";
}
@using DevExtreme.AspNet.Mvc;
@using WeatherForecast.Helpers;
@model WeatherForecast.Models.WeatherForecastModel
@{
    if (Model.WeatherForecast == null)
    {
        Model.WeatherForecast = new WeatherForecast.Response.OpenMeteo.WeatherForecast();
    }

    if (Model.WeatherForecast.CurrentWeather == null)
    {
        Model.WeatherForecast.CurrentWeather = new WeatherForecast.Response.OpenMeteo.CurrentWeather();
    }
    string weather = Model.WeatherForecast.CurrentWeather.Weathercode.WeathercodeToString();
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div style="padding-left:10px;padding-right:10px;">

        <div id="form">
            @(Html.DevExtreme().Form().ID("form").ScrollingEnabled(true).Items(it =>
        {
        it.AddGroup().ColCount(4).Caption("Forecasting Details").Items(groupItems =>
        {
            groupItems.AddSimple().Label(l => l.Text("Latitude").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbLatitude").Value(Model.WeatherForecast.Latitude).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Longitude").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbLongitude").Value(Model.WeatherForecast.Longitude).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Generation Time").Location(FormLabelLocation.Left)).Editor(e => e.NumberBox().ID("nbGeneration").Value(Model.WeatherForecast.GenerationTime).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Elevation").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbElevation").Value(Model.WeatherForecast.Elevation).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Timezone").Location(FormLabelLocation.Left)).Editor(l => l.TextBox().ID("txtTimezone").Value(Model.WeatherForecast.Timezone).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Timezone Abbreviation").Location(FormLabelLocation.Left)).Editor(l => l.TextBox().ID("txtAbbreviation").Value(Model.WeatherForecast.TimezoneAbbreviation).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Temperature").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbTemperature").Value(Model.WeatherForecast.CurrentWeather.Temperature).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Windspeed").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbWindspeed").Value(Model.WeatherForecast.CurrentWeather.Windspeed).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("WindDirection").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbWindDirection").Value(Model.WeatherForecast.CurrentWeather.WindDirection).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Weathercode").Location(FormLabelLocation.Left)).Editor(l => l.TextBox().ID("txtWeathercode").Value(weather).Disabled(true));
            groupItems.AddSimple().Label(l => l.Text("Time").Location(FormLabelLocation.Left)).Editor(l => l.TextBox().ID("nbTime").Value(Model.WeatherForecast.CurrentWeather.Time).Disabled(true));
            groupItems.AddButton().ButtonOptions(s=>s.Type(ButtonType.Default).ID("btnGetLatestDetails").Text("Get Latest Weather").Visible(Model.Showbutton).OnClick("btnGetLatestDetails"));
        });
        it.AddGroup().ColCount(4).Items(groupItems =>
        {
        groupItems.AddSimple().Template(@<text>
                     
                    </text>);
                });
            }).FormData(Model))
            



        </div>

    </div>
</div>
