@{
    ViewBag.Title = "Weather Forcast Details";
}
@using DevExtreme.AspNet.Mvc;

@model WeatherForecast.Models.HistoricalDataModel
<div class="row">

    <div>
        <ul class="nav navbar-nav">

            <li><a href="#" class="toolbarMenuItemsLiPadding" style="text-align:center" onclick="OnRefreshClick()"> <img src="~/Content/Images/bRefresh24.png" alt="Refresh" title="Refresh" /></a></li>

        </ul><br />
    </div>
    <div>
        @*<h1>Current Weather Forecast</h1>*@
    </div>
    <div id="dvHistoryPartial">
        @Html.Partial("_HistoryPartial", Model)
    </div>



</div>
