@{
    ViewBag.Title = "Weather Forcast Details";
}
@using DevExtreme.AspNet.Mvc;

@model WeatherForecast.Models.LiveDataModel

<style>
    .noflex {
        flex: none !important;
        flex-grow:unset !important;
    }
</style>
<div class="jumbotron">
    <h1>Weather Forecast Details</h1>
    <p class="lead">Weather Forcast Details is use to get the current weather based on latitude and longitude entered.</p>
</div>

<div class="row">
    <div style="padding-left:10px;padding-right:10px;">

        <div class="row">
            @(Html.DevExtreme().Form()
    .ID("WFMform")
    .Items(items =>
    {
    items.AddGroup().ColCount(4).Caption("Enter Latitude and Longitude").Items(gr1 => {
        gr1.AddSimple().DataField("WeatherForecastInput.Latitude").IsRequired(true).Label(l => l.Text("Latitude").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbLatitude"));
        gr1.AddSimple().DataField("WeatherForecastInput.Longitude").IsRequired(true).Label(l => l.Text("Longitude").Location(FormLabelLocation.Left)).Editor(l => l.NumberBox().ID("nbLongitude"));
        gr1.AddButton().CssClass("noflex").ButtonOptions(l => l.ID("btnView").Text("View").HoverStateEnabled(true).Type(ButtonType.Success).OnClick("btnView_OnClick"));
        gr1.AddEmpty();
    });
    items.AddSimple().Template(@<text>
                        <div id="weatherForecastDetailsDiv">
                            @{
                                Model.WeatherForecastModel.Showbutton = false;
                            }
                           
                            @Html.Partial("_WeatherForecastDetails",Model.WeatherForecastModel);
                            @*@Html.Action("GetBrokerageTierGrid", "Brokerage")*@
                        </div>
                    </text>);




        }))
        </div>
    </div>
</div>